.buscador-navheader {
    width: 100%;
}

/* BUSCADOR NAVBAR */
.form-search-navheader {
    position: relative;
}

.search-navheader{
    width: 500px;
    position: relative;
    border-radius: 15px;
    padding: 15px 55px;
}

.search-navheader::placeholder {
    font-size: 15px;
}

.btn-outline-success {
    position: absolute;
    left: 25px;
    top: 33%;
    background: transparent;
    border: 0;
}

.filtros-busqueda-btn {
    right: 5% !important;
}