/*--------------------CSS RESET Y TIPOGRAFÃA-------------------*/
@font-face {
    font-family: SpiritNeutralRegular;
    src: url(./fonts/spirits-neutral-regular.otf);
}

@font-face {
    font-family: SpiritSharpRegular;
    src: url(./fonts/spirits-sharp-regular.otf);
}

@font-face {
    font-family: SpiritSoftRegular;
    src: url(./fonts/spirits-soft-regular.otf);
}

@font-face {
    font-family: SpiritNeutralMedium;
    src: url(./fonts/spirits-neutral-medium.otf);
}

@font-face {
    font-family: SpiritSharpMedium;
    src: url(./fonts/spirits-neutral-medium.otf);
}

@font-face {
    font-family: SpiritNeutralMedium;
    src: url(./fonts/spirits-neutral-medium.otf);
}

@font-face {
    font-family: SpiritNeutralLight;
    src: url(./fonts/spirits-neutral-light.otf);
}

@font-face {
    font-family: SpiritNeutralBlack;
    src: url(./fonts/spirits-neutral-black.otf);
}

@font-face {
    font-family: SpiritSharpBlack;
    src: url(./fonts/spirits-sharp-black.otf);
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
}

body {
    margin: 0;
    background: #fffdf9;
}

header {
    position: relative;
    z-index: 11;
    width: 100%;
}

main {
    position: relative;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 0rem !important;
}

section {
    padding: 10px 0;
    position: relative;
}

h1 {
    font-size: 150px;
    font-family: "SpiritSharpBlack";
}

/*-------------------- HEADER - NAVBAR -------------------*/
header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navheader {
    background-color: #fffdf9;
    border-bottom: 1px solid #e0e0e0;
}

.contenedor-items-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 5px 0;
    margin: 0 100px;
}

.contenedor-items-menu li {
    position: relative;
}

.contenedor-items-menu li a {
    position: relative;
}

.contenedor-items-menu li a::after, .contenedor-lista-hero li a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    width: 0;
    height: 2px;
    background: #22272a;
    transition: .3s;
}

.contenedor-items-menu li a:hover::after, .contenedor-lista-hero li a:hover::after {
    width: 100%;
}

.lista-navbar-menu-btns {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.navbar-menus a {
    color: #22272a;
    /* font-family: "SpiritNeutralMedium"; */
    /* letter-spacing: 0.5px; */
}

.contenedor-ul-navbar-dpdown-menus {
    display: none;
    background: #fffdf9;
    position: absolute;
    top: 23px;
    right: -200px;
    padding: 10px 15px;
    z-index: 10;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, .1);
    white-space: nowrap;
}

.contenedor-ul-navbar-dpdown-menus li {
    margin: 10px 0 10px;
}

.navbar-menus:hover div {
    display: flex;
    gap: 20px;
}

.ul-navbar-menus {
    border-right: 1px solid #e0e0e0;
    padding-right: 20px;
}

.ul-navbar-menus h4 {
    margin-bottom: 10px;
    position: relative;
}

.ul-navbar-menus h4::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: #22272a;
}

.lista-navbar-menu-btns i {
    font-size: 30px;
    align-items: center;
    color: #22272a;
    transition: 0.3s;
}

.lista-navbar-menu-btns i:hover {
    transform: scale(1.1);
}

.form-dropdown {
    display: none;
    right: 0px;
    top: 30px;
}

.form-dropdown ul {
    border: 0;
}

.form-dropdown button {
    position: relative;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 1em;
}

.form-dropdown button::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    width: 0;
    height: 2px;
    background: #22272a;
    transition: .3s;
}

.form-dropdown button:hover::after {
    width: 100%;
}


/* POPUP LOGIN & SINGUP */

.contenedor-modal-popup {
    position: fixed;
    top: 30%;
    left: 39%;
    width: 350px;
    padding: 50px 30px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, .15);
    border-radius: 10px;
    background-color: #FFFFFF;
    transition: all 0.6s ease-in-out;
    z-index: 1002;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.login-popup,
.signup-popup {
    display: none;
}

.modal-popup {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cerrar-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    background: #FF4B2B;
    color: #fff;
    text-align: center;
    border: 1px solid #FF4B2B;
    border-radius: 50%;
    cursor: pointer;
    font-size: 19px;
    transition: 0.3s;
    transition: transform 80ms ease-in;
}

.cerrar-btn:hover {
    background: transparent;
    color: #333333;
}

.cerrar-btn:active {
    transform: scale(0.95);
}

.modal-title-main,
.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-title-main img {
    width: 210px;
    margin-bottom: 10px;
}

.modal-title-main span {
    font-size: 12px;
}

.social-container {
    margin: 15px 0;
}

.social-container a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    transition: transform 80ms ease-in;
}

.social-container a:active {
    transform: scale(0.95);
}

#username-modal,
#password-modal,
#password-confirmn {
    width: 100%;
    padding: 10px 0;
    border-radius: 8px;
    border: 0;
    background-color: #eee;
}

.modal-popup form input {
    margin: 8px 0;
}

.modal-body form div input::placeholder {
    padding-left: 10px;
}

.modal-body-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.btn-submit {
    color: #FFFFFF;
    width: 200px;
    font-size: 14x;
    font-weight: bold;
    padding: 12px 45px;
    text-transform: uppercase;
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    transition: transform 80ms ease-in;
    transition: 0.3s;
}

.btn-submit:hover {
    color: #333;
    background-color: transparent;
    cursor: pointer;
}

.btn-submit:active {
    transform: scale(0.95);
}

/*-------------------- MAIN -------------------*/

.hero-article {
    position: relative;
    margin: 15vh 0 0 10vh;
    color: #111;
}

.contenedor-compo-hero {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 700px;
}

.contenedor-lista-hero {
    position: absolute;
    color: #22272a;
    top: -20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.lista-items-hero {
    position: relative;
}

.lista-items-hero a {
    color: #22272a;
}

.contenedor-buscador-hero {
    position: relative;
}

.d-flex input {
    position: relative;
    width: 80%;
    border-radius: 30px;
    padding: 15px;
}

.btn-outline-success {
    position: absolute;
    left: 25px;
    top: 33%;
    background: transparent;
    border: 0;
}

.btn-outline-success:hover {
    cursor: pointer;
}

.d-flex input::placeholder {
    padding-left: 40px;
    font-size: 15px;
}

.fa-bars {
    position: absolute;
    top: 33%;
    right: 165px;
    font-size: 20px;
    color: #111;
}

.article-comun>div {
    width: 1300px;
    margin: 0 auto;
    padding-bottom: 30px;
}

/* RECETAS ELEGIDAS POR CHEFS - CARRUSEL OWL */

#carrusel-1 .owl-item {
    height: 347px;
}

#carrusel-1 .item {
    position: relative;
    width: 100%;
    height: 100%;
}

#carrusel-1 .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-receta {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    transition: all 0.45s ease;
}

.receta-item {
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.45s ease;
}

.a-hover:hover .overlay-receta {
    background-color: transparent;
}

.a-hover:hover+.receta-item,
.receta-item:hover {
    transform: translate(-50%, -70%);
}

.etiqueta-categoria a {
    font-size: 12px;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    border-radius: 12px;
    padding: 6px 16px;
    text-transform: uppercase;
    transition: 0.25s;
}

.slide:hover,
.slide:focus {
    box-shadow: inset 8em 0 0 0 #48494b;
}

.slide-large:hover,
.slide-large:focus {
    box-shadow: inset 11.5em 0 0 0 #48494b;
}


.etiqueta-categoria a:hover,
.etiqueta-categoria a:focus {
    border-color: #48494b;
    color: #fff;
}

.etiqueta-categoria,
.titulo-receta {
    margin: 15px 0;
}

.titulo-receta h3 a {
    color: #FFF;
}

.fecha-tiempo {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: normal !important;
    font-style: italic;
}

.separador-dot {
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
    border-radius: 5px;
    width: 10px;
    height: 1px;
    border-top: 1px solid #e0dede;
    top: -4px;
    position: relative;
}

/* RECETAS POPULARES INDEX */
.contenedor-grid-recetas-populares {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 30px;
    grid-auto-flow: row;
    grid-template-areas:
        "receta-mas-popular receta-mas-popular receta-2 receta-4"
        "receta-mas-popular receta-mas-popular receta-3 receta-5";
}

.contenedor-grid-recetas-populares>div {
    border-radius: 12px;
    background-color: rgb(128, 8, 8);
    height: 100%;
    width: 100%;
}

.receta-mas-popular {
    grid-area: receta-mas-popular;
}

.receta-2 {
    grid-area: receta-2;
}

.receta-3 {
    grid-area: receta-3;
}

.receta-4 {
    grid-area: receta-4;
}

.receta-5 {
    grid-area: receta-5;
}

.section-block-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-block-title {
    text-align: left;
    padding-bottom: 30px;
}

.section-block-title h3 {
    font-size: 22px;
}

.section-block-title h4 {
    color: #9F9F9F;
    font-size: 17px;
}

.section-block-title h3::before,
.section-block-title h3::after {
    content: " ";
    display: inline-block;
    width: 60px;
    height: 1px;
    background: black;
    position: relative;
    top: -9px;
    margin-right: 30px;
}

.section-block-title h3::after {
    margin-right: 0;
    margin-left: 30px;
}

.contenedor-titulo-especial {
    padding: 0 !important;
}

/* CATEGORIAS DE COMIDAS */
.contenedor-grid-categorias-cuadrado {
    height: 310px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 32px;
    grid-auto-flow: row;
    grid-template-areas:
        "categoria-1 categoria-2 categoria-3 categoria-4";
    margin-bottom: 32px;
}

.categoria-1 {
    grid-area: categoria-1;
}

.categoria-2 {
    grid-area: categoria-2;
}

.categoria-3 {
    grid-area: categoria-3;
}

.categoria-4 {
    grid-area: categoria-4;
}

.contenedor-grid-categorias-circulos {
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 32px;
    grid-auto-flow: row;
    grid-template-areas:
        "categoria-5 categoria-6 categoria-7 categoria-8 categoria-9 categoria-10";
}

.categoria-5 {
    grid-area: categoria-5;
}

.categoria-6 {
    grid-area: categoria-6;
}

.categoria-7 {
    grid-area: categoria-7;
}

.categoria-8 {
    grid-area: categoria-8;
}

.categoria-9 {
    grid-area: categoria-9;
}

.categoria-10 {
    grid-area: categoria-10;
}

.contenedor-grid-categorias-cuadrado>div,
.contenedor-grid-categorias-circulos>div {
    background-color: rgb(128, 8, 8);
    border-radius: 12px;
}

.contenedor-grid-categorias-circulos>div {
    border-radius: 50%;
}

/* Carrusel tienda */
/* .owl-buttons {
    display: none;
}

#carrusel-2:hover .owl-buttons {
    display: block;
}

.owl-item {
    text-align: center;
}

.owl-controls .owl-buttons div {
    background: transparent;
    color: #869791;
    font-size: 40px;
    line-height: 300px;
    margin: 0;
    padding: 0 60px;
    position: absolute;
    top: 0;
}

.owl-controls .owl-buttons .owl-prev {
    left: 0;
    padding-left: 20px;
}

.owl-controls .owl-buttons .owl-next {
    right: 0;
    padding-right: 20px;
} */

.item-tienda {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.contenedor-tienda-item-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    transform: translateY(100%);
    transition: transform 0.3s ease;
    padding: 15px;
    box-sizing: border-box;
    color: #FFF;
}

.item-tienda:hover .contenedor-tienda-item-desc {
    transform: translateY(0);
}

.titulo-item-tienda,
.precio-item-tienda {
    margin: 0;
}

/* Estilo adicional para mejorar la apariencia */
.item-tienda img {
    width: 100%;
    height: auto;
    display: block;
}

.titulo-item-tienda {
    font-size: 18px;
    margin-bottom: 5px;
}

.precio-item-tienda span {
    font-size: 16px;
    font-weight: lighter;
}

/* DIARIO */
.contenedor-newsletter {
    display: flex;
    justify-content: center;
}

.newsletter-index {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 1300px;
    height: 200px;
    background: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/07/image-from-rawpixel-id-2409368-png.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    background-attachment: scroll;
}

.row-newsletter {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    width: 100%;
}

.suscribirse-newsletter h4 {
    font-size: 26px;
    line-height: 1.25;
}

.suscribirse-newsletter p {
    color: #7e7d7d
}

.col-1 {
    display: flex;
    align-items: center;
    gap: 15px;
}

.col-2 input {
    border-radius: 30px;
    padding: 15px;
    width: 300px;
    border: 1px solid #e0dede;
}

/* FOOTER */
footer {
    height: 300px;
    width: 100%;
    background-color: #eee6e6;
}


/* Modal random */
@keyframes sketchIn {
    0% {
        stroke-dashoffset: 778;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes sketchOut {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 778;
    }
}

@keyframes modalFadeIn {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: white;
    }
}

@keyframes modalFadeOut {
    0% {
        background-color: white;
    }

    100% {
        background-color: transparent;
    }
}

@keyframes modalContentFadeIn {
    0% {
        opacity: 0;
        top: -20px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes modalContentFadeOut {
    0% {
        opacity: 1;
        top: 0px;
    }

    100% {
        opacity: 0;
        top: -20px;
    }
}